body{
  position: absolute;
  margin:0;
  background-image: url(https://cdn.hipwallpaper.com/i/51/78/HuY2xk.png);
  left: 0;top: 0;bottom: 0;right: 0;
  text-align: center;
}
canvas {
  display: block;
  margin: 0 auto;
}
.ngame {
  margin-top: 1em;
  margin-bottom: 1em;
}
